<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignUp
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Username" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="rol" [value]="'admin'" (change)="updateRol('admin')" class="form-check-input" id="adminCheckbox">
                        <label class="form-check-label" for="adminCheckbox">Admin</label>
                      </div>
                      <div class="form-check">
                        <input type="radio" name="rol" [value]="'client'" (change)="updateRol('client')" class="form-check-input" id="clientCheckbox">
                        <label class="form-check-label" for="clientCheckbox">Client</label>
                      </div>
                         
                    <button type="submit" class="btn btn-primary btn-block">
                        SignUp
                    </button>
                </form>
             </div>
     </div>
    </div>
</div>